body
  height 100vh
  width 100vw
  margin 0

.content-back
  position absolute
  top 5%
  left 2%
  
.back
  background-color: transparent;
  border: none;
  padding: 10px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  z-index: 10;
  text-decoration: none;

  span 
    mix-blend-mode difference

  &:before
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: #DEDEDE;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(-50%, -50%) scale3d(0, 1, 0);
    transform: translate(-50%, -50%) scale3d(0, 1, 0);
    -webkit-transition: -webkit-transform .45s ease-in-out;
    transition: transform .45s ease-in-out;
  
  &:hover&:before
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);

.content-intro
  background rgba(45,45,45,1)
  overflow hidden
  color: #DEDEDE
  display flex
  flex-flow column nowrap
  align-items center
  justify-content space-around
  font-family 'Open Sans Condensed'
  height 100vh
  width 100vw
  position absolute
  top 0
  left 0
  z-index 100
  transition 1s ease-in-out


.content-list
  background rgba(45,45,45,1)
  color: #DEDEDE
  display flex
  flex-flow column nowrap
  align-items center
  justify-content space-around
  font-family 'Open Sans Condensed'
  height 100%
  width 100%
  overflow-x hidden

  ul
    display flex
    flex-flow row wrap
    align-items flex-start
    justify-content space-around
    margin auto
    padding 0
    width 90%
    overflow-x hidden
    

    li
      border 1px solid #FFF
      padding 20px
      display flex
      flex-flow column
      align-items center
      justify-content space-between
      max-width 450px
      margin: 20px

      .img-content
        width 400px
        height auto

        img
          width 100%
          height auto
      p
        color #FFF
        font-family 'Open Sans Condensed'

h1
  font-family 'Le Murmure'
  font-size 6em

.text-content
  font-size 1.4em

  .saver-context
    font-style italic
    font-size 0.8em

svg 
  width 600px

.btn
  width 120px
  background-color: transparent;
  border: none;
  padding: 10px;
  position: relative;
  font-family: 'Open Sans Condensed'
  color: #DEDEDE;
  z-index: 10;
  text-decoration: none;
  border 1px solid #DEDEDE
  overflow: hidden

  &:hover 
    &:before
      -webkit-transform-origin: center left;
      transform-origin: center left;
      -webkit-transform: scaleX(1) translate(10%, 50%);
      transform: scaleX(1) translate(10%, 50%);

  &:before
    content: "";
    position: absolute;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    left: 0;
    right: 0;
    bottom: 50%;
    width: 200px;
    height: 120px;
    background-color: #DEDEDE;
    -webkit-transform: scaleX(0) translate(-120%, 50%);
    transform: scaleX(0) translate(-120%, 50%);
    transition: -webkit-transform .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  
  span 
    display: block;
    position: relative;
    mix-blend-mode: difference;
    text-align center

  